* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(37, 43, 66, 1);
}

.b1Zoro-menu {
    height: 91px;
    padding-top: 13px;
    justify-content: center;
}

.b1_menu {
    display: flex;
    background-color: rgba(88, 88, 88, 0.45);
    height: 91px;
    margin-left: 157px;
    border-radius: 15px;
    margin-right: 157px;

}

.b1_menu ul {
    display: flex;
    list-style: none;
    gap: 21px;
    padding-top: 33px;
    margin: 0 auto;
}

.b1_menu ul li a {
    text-decoration: none;
    color: wheat;
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
}

.b3_1 {
    display: flex;
    gap: 73px;
    padding-top: 57px;
    justify-content: center;
    margin-bottom: 40px;
    justify-content: center;
}

.b3_1 div  {
    border-radius: 15px;
    width: 202px;
    height: 285px;
    background-color: rgba(217, 217, 217, 1);
}


.home {
    background-color: rgba(171, 24, 3, 1);
    margin-left: 0px;
    margin-top: 15px;
    justify-content: center;
    margin-right: 0px;
}

.baner {
    width: 1027px;
    height: 448px;
    background-color: rgba(217, 217, 217, 1);
    margin: 0 auto;
    border-radius: 15px;
}

footer {
    background-color:rgba(171, 24, 3, 1) ;
    height: 52px;
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.footer1 {
    display: flex;
    gap: 8px;
    padding-top: 13px;

} 

.b3_1 div:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

.b3_1 div {
    transition: 1s; /* Время эффекта */
}

.b2_nn div:hover {
    transform: scale(1.25); /* Увеличиваем масштаб */
}

.b2_nn div {
    transition: 0.5s; /* Время эффекта */
}

h1:hover {
    color: rgb(255, 243, 82) ;
}

h1 {
    transition: 0.5s; /* Время эффекта */
}

h2:hover {
    color: rgb(255, 243, 82) ;
}

h2 {
    transition: 0.5s; /* Время эффекта */
}

P:hover {
    color: rgb(255, 243, 82) ;
}

P {
    transition: 0.5s; /* Время эффекта */
}

.footer1 a {
    text-decoration: none;
    color: black;
}
