* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.b1Zoro-menu {
    background-image: url("/medeo/zoro_imag/Group\ 68\ \(1\).png");
    height: 896px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 13px;
    justify-content: center;
    
}

.b1_menu {
    display: flex;
    background-color: rgba(88, 88, 88, 0.45);
    height: 91px;
    margin-left: 157px;
    border-radius: 15px;
    margin-right: 157px;
}

.b1_menu ul {
    display: flex;
    list-style: none;
    gap: 21px;
    padding-top: 33px;
    margin: 0 auto;
}

.b1_menu ul li a {
    text-decoration: none;
    color: wheat;
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
}

h1 {
    color: white;
    width: 542px;
    font-weight: 700;   
    font-size: 90px;
}

.b1_text {
    padding-top: 112px;
    padding-left: 195px;
}
.b1_text p {
    width: 376px;
    font-weight: 400;
    color: white;
    padding-top: 35px;
    font-size: 20px;
}

.b2 {
    height: 859px;
    background-color: rgba(37, 43, 66, 1);
    color: white;
    font-weight: 700;
    font-size: 40px;
    justify-content: center;
    
}

.b2 h2 {
    text-align: center;
    padding-top: 35px;
}

.b2_nn {
    display: flex;
    gap: 45px;
    padding-top: 89px;
    justify-content: center;

}

.b2_nn div {
    background-color: rgba(217, 217, 217, 1);
    width: 328px;
    height: 513px;
    border-radius: 15px;
    background-size: 110%;
    font-size: 16px;
    text-align: center;
}

.b3_new {
    background-color: rgba(171, 24, 3, 1);
    height: 980px;
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-top: 35px;
    justify-content: center;
}

.b3_1 {
    display: flex;
    gap: 73px;
    padding-top: 57px;
    justify-content: center;
}

.b3_1 div  {
    border-radius: 15px;
    width: 202px;
    height: 285px;
    background-color: rgba(217, 217, 217, 1);
}


.b3_1 div:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

.b3_1 div {
    transition: 1s; /* Время эффекта */
}

.b2_nn div:hover {
    transform: scale(1.25); /* Увеличиваем масштаб */
}

.b2_nn div {
    transition: 0.5s; /* Время эффекта */
}

h1:hover {
    color: rgb(255, 243, 82) ;
}

h1 {
    transition: 0.5s; /* Время эффекта */
}

h2:hover {
    color: rgb(255, 243, 82) ;
}

h2 {
    transition: 0.5s; /* Время эффекта */
}

P:hover {
    color: rgb(255, 243, 82) ;
}

P {
    transition: 0.5s; /* Время эффекта */
}

.contact {
    height: 594px;
    background-color: rgba(171, 24, 3, 1);
    padding-top: 99px;
    justify-content: center;
}

form {
    width: 444px;
    height: 594px;
    margin: 0 auto;
}

input {
    width: 444px;
    height: 44px;
    border-radius: 15px;
    margin-top: 22px;
    border: none;
    background-color: rgba(37, 43, 66, 1);
    padding-left: 10px;
    justify-content: center;
}

form h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

form button {
    justify-content: center;
    margin-top: 40px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: rgba(189, 97, 59, 1);
    color: rgb(255, 255, 255);
}

footer {
    background-color:rgba(171, 24, 3, 1) ;
    height: 52px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.footer1 {
    display: flex;
    gap: 8px;
}

.footer1 a {
    text-decoration: none;
    color: black;
}

.b3_new form {
    display: flex;
    justify-content: center;
    gap: 9px;
}


.b3_new form input {
    width:  685px;
    height: 50px;
    border-radius: 15px;
    background-color:rgba(171, 24, 3, 1);
    border: none;
    margin-top: 31px;
}

.bu1 {
    border-radius: 15px;
    background-color:rgba(171, 24, 3, 1);
    border: none;
    width: 50px;
    height: 50px;
    margin-top: 31px;
}  











